/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    bottom: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    left: 0;
  }